.container{
   display: flex;
   justify-content: space-evenly;
   max-width: 1000px !important;
   flex-wrap: wrap !important;
}
main{
text-align: center;
background-color: rgb(0, 255, 115);
height: 100vh;
}
input,header,button{
  font-size:25px !important;
  color: rgb(2, 104, 70);
  font-weight: bold;
}
.Error{
   color: red;
}